// colors

$violet : #412abd;
$green: #4cca4c;
$greenGradient: linear-gradient(270deg, #98ea34 0%, #2bcc2b 100%);
$text-secondary: #9e9da0;
$text-main: #393b3d;
$text-light: #ffffff;

// fonts
$font-thin: "MuseoSans Thin", Arial, sans-serif;
$font-bold: "MuseoSans Bold", Arial, sans-serif;