.header {
    @include mlg(background-size, auto 90%);
    @include mlg(background-position-x, 110%);
    @include mlg(background-position-y, 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    background: url("/img/employeer.png") no-repeat;
    min-height: 749px;
    background-position-x: 60%;
    background-position-y: 90%;
    background-size: auto 105%;
}

.header-content {
    flex-grow: 1;
    &__box {
        @include row-flex();
        @include xl(margin-top, 100px);
        @include mlg(margin-top, 80px);
        @include lg(margin-top, 20px);
        margin-top: 180px;
    }
    &__column {
        @include col();
        @include size(8);
    }
    &__title {
        @include mlg(font-size, 40px);
        @include mlg(line-height, 48px);
        font-size: 60px;
        line-height: 68px;
        font-family: $font-thin;
        font-weight: 300;
    }
}

.header-order {
    display: flex;
    align-items: center;
    margin-top: 48px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 196px;
        height: 50px;
        text-decoration: none;
        border-radius: 50px;
        background: $greenGradient;
        color: $text-light;
    }
    &__detail {
        margin-left: 20px;
        font-size: 16px;
        font-family: $font-thin;
    }
}

.header-settings {
    @include mlg(right, 50px);
    @include lg(top, 50%);
    // @include lg(bottom, 20px);
    @include lg(left, 20px);
    @include lg(width, 360px);
    @include lg(height, 326px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 407px/2);
    right: 120px;
    background: #ffffff;
    width: 485px;
    height: 407px;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 $text-secondary;
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 20px;
        line-height: 24px;
        span {
            font-family: $font-bold;
        }
    }
    &__res {
        p {
            font-size: 20px;
            line-height: 20px;
            font-family: $font-thin;
        }
        b {
            font-size: 35px;
            font-family: $font-bold;
        }
    }
}
.header-footer {
    display: flex;
    align-items: center;
    min-height: 85px;
    margin-top: auto;
    padding: 0 40px;
    &__copy {
        color: $text-secondary;
        font: $font-thin;
        font-size: 14px;
    }
}
