.header {
    background: url("/img/employeer.png") no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
.header-content {
    &__title {
        font-size: 60px;
        line-height: 68px;
        font-family: $font-thin;
        font-weight: 300;
    }
}

.header-order {
    display: flex;
    align-items: center;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 196px;
        height: 50px;
        text-decoration: none;
        border-radius: 50px;
        background: $greenGradient;
        color: $text-light;
    }
    &__detail {
        margin-left: 20px;
        font-size: 16px;
        font-family: $font-thin;
    }
}

.header-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    width: 485px;
    min-height: 407px;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 $text-secondary;
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 20px;
        line-height: 24px;
        span {
            font-family: $font-bold;
        }
    }
    &__res {
        p {
            font-size: 20px;
            line-height: 20px;
            font-family: $font-thin;
        }
        b {
            font-size: 35px;
            font-family: $font-bold;
        }
    }
}