.features {
    // @include xs(margin-bottom, 0);
    background: url("/img/dekor-bottom.svg") repeat-x, $violet;
    background-position: bottom left;
    padding: 50px 0;
    @include ssm(padding-bottom, 40px);    
    &__list {
        @include row-flex();
        @include ssm(padding-top, 364px);
    }
    &__item {
        @include col();
        @include size(4);
        @include size-ssm(12);
        &:not(:last-child) {
            @include ssm(margin-bottom, 35px);
        }
    }
    &__pic {
        text-align: center;
        margin-bottom: 23px;
    }
    &__text {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        font-family: $font-thin;
        color: $text-light;
    }
}