section.about
    .container.about__container
        .about__top
            h2.about__title О компании
            a(href="#").about__more Читать подробно
                <svg width="11" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.243 4.81a.786.786 0 0 1 .631-.289h5.261l-2.19-2.257a.97.97 0 0 1-.283-.7.97.97 0 0 1 .284-.701l.56-.57A.906.906 0 0 1 5.179 0c.264 0 .49.098.68.293l4.864 5.006c.185.2.277.434.277.701a.958.958 0 0 1-.277.693L5.86 11.715a.942.942 0 0 1-.68.285.902.902 0 0 1-.673-.285l-.56-.585a.929.929 0 0 1-.284-.693c0-.278.094-.509.284-.694l2.19-2.264H.873a.786.786 0 0 1-.631-.289A1.047 1.047 0 0 1 0 6.493v-.986c0-.272.08-.504.243-.697z" fill="#ffffff"/></svg>
        .about__content
            p.about__text Общество стремится создавать и поддерживать такую рабочую атмосферу, которая позволяет каждому члену команды раскрывать свой потенциал. Сотрудники Общества открыто высказывают свою точку зрения, не боятся говорить о проблемах. Общество пропагандирует принципы открытого признания ошибок, извлечение уроков и предпринятие действий.
            div.about__demonstration
                img(src="img/vid-tumb.png")