section.advantages
    .advantages__container.container
        .advantages__top
            h2.advantages__title 6 причин, почему ВКРЕДИТ лучше
            .advantages__controls
                a(href="#").advantages__prev.advantages__control
                    <svg width="16" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.647 6.814a1.157 1.157 0 0 0-.919-.41H7.076l3.185-3.196c.276-.276.413-.607.413-.993 0-.385-.137-.717-.413-.993L9.446.415A1.335 1.335 0 0 0 8.468 0c-.385 0-.714.138-.99.415L.402 7.507A1.4 1.4 0 0 0 0 8.5c0 .386.134.713.402.982l7.076 7.114c.283.27.613.404.99.404.384 0 .71-.135.978-.404l.815-.829c.275-.262.413-.59.413-.982 0-.393-.137-.72-.413-.982l-3.185-3.208h7.652c.377 0 .683-.136.919-.41A1.46 1.46 0 0 0 16 9.199V7.802a1.46 1.46 0 0 0-.353-.988z" fill="#9E9DA0"></path></svg>
                a(href="#").advantages__next.advantages__control
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.353043 6.81413C0.58871 6.54129 0.894773 6.40493 1.27157 6.40493H8.92375L5.73893 3.20787C5.46352 2.9316 5.32592 2.60056 5.32592 2.21494C5.32592 1.82952 5.46348 1.49847 5.73893 1.22208L6.55417 0.414585C6.82947 0.13831 7.1556 0 7.5324 0C7.91651 0 8.24633 0.138157 8.52155 0.414585L15.5978 7.50701C15.8659 7.7907 16 8.1217 16 8.49994C16 8.88552 15.8659 9.21285 15.5978 9.48187L8.52155 16.5962C8.23898 16.8653 7.90924 17 7.5324 17C7.14844 17 6.82235 16.8653 6.55421 16.5962L5.73897 15.7671C5.46355 15.5053 5.32596 15.1778 5.32596 14.7852C5.32596 14.3921 5.46351 14.0647 5.73897 13.803L8.92378 10.595H1.27161C0.89485 10.595 0.588749 10.4586 0.353082 10.1858C0.117643 9.913 0 9.58395 0 9.19837V7.80171C-0.000152588 7.41613 0.117642 7.08696 0.353043 6.81413Z" fill="#412ABD"></path></svg>
        .advantages__screens
            ul.advantages__screen
                li.advantages__item.advantage
                    h4.advantage__title Решение для ИП и ООО
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Срок ведения бизнеса от 9 месяцев
                    p.advantage__text Не нужно ждать годовую отчетность!
                li.advantages__item.advantage
                    h4.advantage__title Прозрачные условия финансирования
                    p.advantage__text Ставка от 2% в месяц без скрытых комиссий.
            ul.advantages__screen.advantages__screen--unactive
                li.advantages__item.advantage
                    h4.advantage__title Решение для ИП и ООО
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Срок ведения бизнеса от 9 месяцев
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Прозрачные условия финансирования
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
        .advantages__bottom
            a(href="#").advantages__order Оформить заявку
            div.advantages__indicators
                div.advantages__indicator
