section.advantages
    .advantages__container.container
        .advantages__top
            h2.advantages__title 6 причин, почему ВКРЕДИТ лучше
            .advantages__controls
        .advantages__screens
            ul.advantages__screen
                li.advantages__item.advantage
                    h4.advantage__title Решение для ИП и ООО
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Срок ведения бизнеса от 9 месяцев
                    p.advantage__text Не нужно ждать годовую отчетность!
                li.advantages__item.advantage
                    h4.advantage__title Прозрачные условия финансирования
                    p.advantage__text Ставка от 2% в месяц без скрытых комиссий.
            ul.advantages__screen.advantages__screen--unactive
                li.advantages__item.advantage
                    h4.advantage__title Решение для ИП и ООО
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Срок ведения бизнеса от 9 месяцев
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
                li.advantages__item.advantage
                    h4.advantage__title Прозрачные условия финансирования
                    p.advantage__text Для ООО со 100% собственником, который одновременно является руководителем.
        .advantages__bottom
            a.advantages__order Оформить заявку
            div.advantages__indicators
                div.advantages__indicator
