section.header-topbar
    .header-topbar__logo 
        h1.visually-hidden VKREDIT
        +logo
    nav.header-topbar__menu.mainmenu
        ul.mainmenu__list
            li.mainmenu__item
                a(href="#").mainmenu__link Документы
            li.mainmenu__item
                a(href="#").mainmenu__link Новости
            li.mainmenu__item
                a(href="#").mainmenu__link О компании
            li.mainmenu__item
                a(href="#").mainmenu__link FAQ
            li.mainmenu__item
                a(href="#").mainmenu__link Контакты
            li.mainmenu__item
                a(href="#").mainmenu__link
                    span.visually-hidden Обратная связь
                    <svg width="18" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9.1L6.773 7.13.406 12.647c.232.217.544.352.889.352h15.41c.344 0 .655-.135.885-.352l-6.363-5.519L9 9.1z" fill="#412ABD"/><path d="M17.594.352A1.287 1.287 0 0 0 16.705 0H1.295C.95 0 .64.135.409.355L9 7.8 17.594.352zM0 1.141v10.8l6.214-5.338L0 1.14zM11.786 6.603L18 11.942V1.137l-6.214 5.466z" fill="#412ABD"/></svg>
    .header-topbar__contact.topbar-contact
        p.topbar-contact__phonenumb 8 (800) 700-92-02
        span.topbar-contact__detail Звонок по РФ бесплатный
    .header-topbar__auth.topbar-auth
        .topbar-auth__pic
            <svg class="topbar-auth__user" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.625 12.375H13.5a2.25 2.25 0 0 1-2.25-2.25v-.723a5.686 5.686 0 0 0 1.077-2.03c.023-.125.143-.187.223-.273a1.39 1.39 0 0 0 .192-1.675c-.044-.078-.123-.146-.119-.244 0-.66.004-1.32 0-1.98-.018-.795-.246-1.623-.804-2.213-.45-.476-1.069-.76-1.707-.88a5.668 5.668 0 0 0-2.449.057c-.692.174-1.342.58-1.745 1.18-.356.523-.512 1.157-.538 1.783-.01.67-.002 1.344-.004 2.017.015.134-.1.226-.15.337-.305.552-.171 1.304.318 1.706.124.085.147.241.192.376.213.665.567 1.28 1.014 1.815v.747a2.25 2.25 0 0 1-2.25 2.25H3.375S1.336 12.938 0 15.75v1.125C0 17.497.503 18 1.125 18h15.75c.622 0 1.125-.503 1.125-1.125V15.75c-1.336-2.812-3.375-3.375-3.375-3.375z" fill="#fff"/></svg>
        a(href="#").topbar-auth__link Личный кабинет
            svg(class="topbar-auth__arrow", width="11", height="12", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M.243 4.81a.786.786 0 0 1 .631-.289h5.261l-2.19-2.257a.97.97 0 0 1-.283-.7.97.97 0 0 1 .284-.701l.56-.57A.906.906 0 0 1 5.179 0c.264 0 .49.098.68.293l4.864 5.006c.185.2.277.434.277.701a.958.958 0 0 1-.277.693L5.86 11.715a.942.942 0 0 1-.68.285.902.902 0 0 1-.673-.285l-.56-.585a.929.929 0 0 1-.284-.693c0-.278.094-.509.284-.694l2.19-2.264H.873a.786.786 0 0 1-.631-.289A1.047 1.047 0 0 1 0 6.493v-.986c0-.272.08-.504.243-.697z", fill="#412ABD")