.news {
    @include md(padding, 45px 0);
    @include lg(padding, 60px 0);
    @include xs(padding-bottom, 60px);
    padding: 80px 0;
    background: url("/img/dekor-bottom.svg") repeat-x, $violet;
    background-position: bottom left;
    color: $text-light;
    &__top {
        @include row-flex();
        @include sm(flex-direction, column);
        @include sm(justify-content, flex-start);
        @include sm(align-items, center);
        align-items: center;
        justify-content: center;
    }
    &__title {
        @include sm(margin, 0 0 20px 0);
        @include sm(font-size, 24px);
        @include md(font-size, 30px);
        color: $text-light;
        font-size: 42px;
        font-family: $font-thin;
        font-weight: 300;
        margin-right: 34px;
    }
    &__more {
        @include ssm(width, 152px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 204px;
        height: 50px;
        text-decoration: none;
        border-radius: 50px;
        border: 2px solid $text-light;
        color: $text-light;
        svg {
            margin-left: 10px;
        }
    }
    &__list {
        @include row-flex();
        margin-top: 50px;
    }
    &__item {
        @include col();
        @include size(4);
        @include size-lg(12);
        &:not(:last-child) {
            @include lg(margin-bottom, 30px);
            @include xs(margin-bottom, 18px);
        }
    }
}

.new-card {
    @include xl(min-height, 300px);
    @include ssm(min-height, 275px);
    display: flex;
    flex-direction: column;
    background: $light;
    border-radius: 10px;
    color: $dark;
    min-height: 326px;
    padding-bottom: 15px;
    overflow: hidden;
    &__img {
        @include ssm(height, 50%);
        @include ssm(width, auto);
        width: 100%;
        background-color: $violet;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__title {
        padding: 0 35px;
        margin-top: 30px;
    }
    &__link {
        @include ssm(font-size, 18px);
        text-decoration: none;
        font-size: 20px;
        font-family: $font-thin;
        color: $dark;
    }
    &__date {
        margin-top: 20px;
        padding: 0 35px;
    }
}