section.news
    .news__container.container
        .news__top
            h2.news__title Наши новости
            a(href="#").news__more Все новости
                <svg width="11" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.243 4.81a.786.786 0 0 1 .631-.289h5.261l-2.19-2.257a.97.97 0 0 1-.283-.7.97.97 0 0 1 .284-.701l.56-.57A.906.906 0 0 1 5.179 0c.264 0 .49.098.68.293l4.864 5.006c.185.2.277.434.277.701a.958.958 0 0 1-.277.693L5.86 11.715a.942.942 0 0 1-.68.285.902.902 0 0 1-.673-.285l-.56-.585a.929.929 0 0 1-.284-.693c0-.278.094-.509.284-.694l2.19-2.264H.873a.786.786 0 0 1-.631-.289A1.047 1.047 0 0 1 0 6.493v-.986c0-.272.08-.504.243-.697z" fill="#ffffff"/></svg>
        ul.news__list
            li.news__item
                article.new-card
                    img(src="img/news-1.jpg").new-card__img
                    h3.new-card__title
                        a(href="").new-card__link
                            | Появилась возможность финансировать ООО и ИП со сроком ведения бизнеса от 9 месяцев
                    time.new-card__date 29.11.2018
            li.news__item
                article.new-card
                    img(src="img/news-2.jpg").new-card__img
                    h3.new-card__title
                        a(href="").new-card__link
                            | Расширена география выдачи микрозаймов до 50 городов РФ
                    time.new-card__date 29.10.2018
            li.news__item
                article.new-card
                    img(src="img/news-3.jpg").new-card__img
                    h3.new-card__title
                        a(href="").new-card__link
                            | Появилась возможность финансирования клиентов
                    time.new-card__date 06.08.2018