footer.footer
    .footer__container.container
        .footer__content
            ul.footer__menu
                li.footer__menu-item
                    a(href="#").footer__menu-link Документы
                li.footer__menu-item
                    a(href="#").footer__menu-link Новости
                li.footer__menu-item
                    a(href="#").footer__menu-link О компании
                li.footer__menu-item
                    a(href="#").footer__menu-link FAQ
                li.footer__menu-item
                    a(href="#").footer__menu-link Контакты
            p.footer__copy
                | ВКРЕДИТ © 2017 – 2019 
        ul.footer__social.footer-social
            li.footer-social__item
                a(href="#").footer-social__link
                    span.visually-hidden Vkontakte
                    <svg width="25" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.867 14.45a2.034 2.034 0 0 0-.084-.183c-.434-.876-1.263-1.952-2.486-3.227l-.026-.029-.013-.014-.013-.015h-.013c-.556-.594-.907-.993-1.055-1.197-.27-.39-.33-.784-.182-1.183.104-.302.495-.94 1.171-1.913.356-.516.638-.93.846-1.24 1.502-2.24 2.152-3.67 1.953-4.294l-.078-.145c-.052-.088-.186-.168-.403-.241-.217-.073-.495-.085-.833-.037l-3.749.03c-.06-.025-.147-.022-.26.007l-.17.044-.065.036-.052.044a.612.612 0 0 0-.143.153 1.039 1.039 0 0 0-.13.256 25.225 25.225 0 0 1-1.393 3.285 31.866 31.866 0 0 1-.885 1.57c-.269.443-.494.769-.677.978-.182.21-.347.377-.494.504-.148.126-.26.18-.339.16a8.637 8.637 0 0 1-.221-.058.938.938 0 0 1-.293-.358 1.749 1.749 0 0 1-.15-.57 7.034 7.034 0 0 1-.045-.59c-.004-.166-.002-.4.006-.702.01-.302.014-.506.014-.613 0-.37.006-.771.019-1.205l.032-1.029c.01-.253.013-.52.013-.803 0-.282-.015-.504-.045-.664a2.48 2.48 0 0 0-.136-.468.768.768 0 0 0-.267-.35 1.416 1.416 0 0 0-.436-.197c-.46-.117-1.046-.18-1.758-.19-1.614-.02-2.65.098-3.11.35a1.801 1.801 0 0 0-.495.439c-.156.214-.178.33-.065.35.52.087.889.297 1.106.628l.078.175c.06.127.122.35.182.672.061.32.1.676.117 1.065.044.711.044 1.32 0 1.825-.043.507-.084.9-.123 1.183a2.59 2.59 0 0 1-.332 1.008.239.239 0 0 1-.065.073.882.882 0 0 1-.352.073c-.121 0-.269-.069-.442-.205a3.294 3.294 0 0 1-.54-.562 7.568 7.568 0 0 1-.632-1 18.232 18.232 0 0 1-.729-1.519l-.208-.423a38.35 38.35 0 0 1-.533-1.19 24.437 24.437 0 0 1-.6-1.511.96.96 0 0 0-.312-.468L4.907.921A.865.865 0 0 0 4.7.797a1.268 1.268 0 0 0-.3-.094L.834.732c-.364 0-.612.092-.742.277l-.052.088A.522.522 0 0 0 0 1.33c0 .107.026.239.078.395a50.963 50.963 0 0 0 1.699 3.971c.611 1.275 1.143 2.302 1.594 3.08.451.78.911 1.514 1.38 2.205.469.692.779 1.135.93 1.33.152.194.272.34.359.437l.325.35c.208.234.514.514.918.84.403.326.85.647 1.34.964.49.316 1.061.574 1.712.774.65.2 1.284.28 1.9.24h1.497c.304-.029.534-.136.69-.32l.052-.074c.035-.058.068-.148.098-.27.03-.121.045-.255.045-.401-.009-.419.02-.796.085-1.132.065-.335.139-.588.221-.759.083-.17.176-.314.28-.43.104-.117.178-.188.222-.212a.803.803 0 0 1 .103-.051c.209-.078.454-.003.736.226.282.23.547.511.794.847.247.336.545.713.892 1.132.347.418.65.73.91.934l.261.175c.174.117.4.224.677.322.277.097.52.121.729.073l3.332-.059c.33 0 .586-.06.768-.182.182-.122.29-.256.325-.402.035-.146.037-.311.007-.497a2.009 2.009 0 0 0-.092-.386z" fill="#9E9DA0"/></svg>
            li.footer-social__item
                a(href="#").footer-social__link
                    span.visually-hidden Facebook
                    <svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 3c0-1.576-1.423-3-3-3H3C1.423 0 0 1.424 0 3v12c0 1.576 1.423 3 3 3h6v-6.8H6.8v-3H9V7.031C9 5.015 10.514 3.2 12.375 3.2H14.8v3h-2.425c-.265 0-.575.322-.575.805V8.2h3v3h-3V18H15c1.577 0 3-1.424 3-3V3z" fill="#9E9DA0"/></svg>
            li.footer-social__item
                a(href="#").footer-social__link
                    span.visually-hidden Instagram
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.3112 0.000488281H15.6899C16.9609 0.000488281 18 1.03993 18 2.31097V15.6896C18 16.9603 16.9609 17.9991 15.6899 17.9991H2.3112C1.04016 17.9991 0 16.9603 0 15.6896V2.31097C0 1.03993 1.04016 0.000488281 2.3112 0.000488281ZM13.1128 1.99951C12.6665 1.99951 12.3025 2.36497 12.3025 2.81101V4.74985C12.3025 5.19607 12.6665 5.56069 13.1128 5.56069H15.1469C15.5925 5.56069 15.9573 5.19607 15.9573 4.74985V2.81101C15.9573 2.36497 15.5925 1.99951 15.1469 1.99951H13.1128ZM15.965 7.61185H14.3813C14.5315 8.10235 14.6129 8.61961 14.6129 9.15739C14.6129 12.1503 12.1069 14.5778 9.01692 14.5778C5.9277 14.5778 3.42168 12.1503 3.42168 9.15739C3.42168 8.61961 3.50388 8.10235 3.65334 7.61185H2.001V15.2158C2.001 15.6095 2.32254 15.9299 2.71596 15.9299H15.2504C15.6442 15.9299 15.965 15.6095 15.965 15.2158V7.61185ZM9.01698 5.45845C7.02138 5.45845 5.40258 7.02613 5.40258 8.96173C5.40258 10.8953 7.02138 12.4642 9.01698 12.4642C11.0137 12.4642 12.6325 10.8953 12.6325 8.96173C12.6325 7.02607 11.0137 5.45845 9.01698 5.45845Z" fill="#9E9DA0"/></svg>
