h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
* {
    box-sizing: border-box;
    font-family: "MuseoSans Regular", Arial, Helvetica, sans-serif;
}
body {
    color: $text-main;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.container {
    @include container();
    @include xs(max-width, 284px);
    @include sm(max-width, 320px);
    @include md(max-width, 668px);
    @include lg(max-width, 768px);
    @include mlg(max-width, 992px);
    @include xl(max-width, 1200px);
    @include xxl(max-width, 1600px);
}